.about-us-hero .hero-global-content-wrap {
    background: url('../assets/p_about/hero__img.png');
    background-color: rgba(0, 0, 0, 0.295);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.774);
    display: flex;
}

/* /// Quotes section */
.quotes {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
.quotes .right-side {
    display: none;
}

.quotes-image {
    margin-bottom: 48px;
}

.quotes .heading-3,
.quotes .title-2 {
    text-align: center;
}

.quotes .title-2 {
    margin: 16px 0 48px 0;
    opacity: 0.6;
    font-size: 16px;
    line-height: 26px;
}

/* /// Advantages section */
.advantages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.single-advantage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 60px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.single-advantage .text-wrap {
    z-index: 1;
}
.single-advantage .heading-4,
.single-advantage .title-2 {
    color: var(--clr-white);
}

.single-advantage .heading-4 {
    margin-bottom: 32px;
}
.single-advantage .title-2 {
    opacity: 0.7;
}

.single-advantage .color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Block 1 */
.single-advantage:nth-child(1) {
    background-image: url('../assets/p_about/quotes__img.png');
}

.single-advantage:nth-child(1) .color-overlay {
    background-color: rgba(248, 89, 41, 0.9);
}

/* Block 2 */
.single-advantage:nth-child(2) {
    background-image: url('../assets/p_about/hero__img.png');
}

.single-advantage:nth-child(2) .color-overlay {
    background-color: rgba(0, 0, 0, 0.9);
}

/* Block 3 */
.single-advantage:nth-child(3) {
    background-image: url('../assets/getintouch__img2.png');
}

.single-advantage:nth-child(3) .color-overlay {
    background-color: rgba(117, 67, 202, 0.9);
}

/* /// Provide section */
.provide {
    padding: 50px 0;
    background-color: var(--clr-lightgray);
    text-align: center;
}

.provide .provide-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    padding: 3px;
    padding-bottom: 0;
    margin-top: 44px;
}

.provide .paragraph-1 {
    opacity: 0.6;
}

.provide .single-provide {
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: span 3;
    padding: 50px 20px;
}

.provide .single-provide .provide-heading {
    margin: 24px 0;
}

.provide .single-provide .provide-icon {
    background-color: #ffdace;
    width: 64px;
    height: 64px;
    padding: 16px;
    border-radius: 100%;
}
.provide .single-provide .provide-icon i {
    font-size: 32px;
}

/* /// Team section */
.team {
    padding: 50px 0;
}

.team-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 32px;
}

.team .single-team {
    position: relative;
    grid-column: span 6;
}

.team .floating-text {
    padding: 24px;
    background-color: var(--clr-black);
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.team .title-2,
.team .paragraph-2 {
    color: white;
}
.team .heading-1 {
    text-align: center;
    margin-bottom: 24px;
}

.team .paragraph-2 {
    opacity: 0.7;
}

@media (min-width: 768px) {
    .about-us-hero .hero-global-content-wrap {
        background-blend-mode: initial;
        background-position: left center;
        background-size: contain;
        display: flex;
    }

    /* Process bubble */
    .quotes .single-process .text-bubble {
        width: 72px;
        height: 72px;
    }
    .quotes .single-process .text-bubble span {
        font-size: 30px;
    }

    .quotes .single-process .bubble-float {
        width: 42px;
        height: 42px;
        bottom: -22px;
    }

    .quotes .title-2 {
        margin: 16px 0 48px 0;
        font-size: var(--title-size-2);
        line-height: 36px;
    }

    /* Provide */
    .provide .provide-wrapper {
        padding: 0;
        margin-top: 64px;
        border: 1px solid #ebebeb;
    }

    .provide .single-provide {
        grid-column: span 1;
        padding: 50px 20px;
    }

    /* Team */
    .team .single-team {
        grid-column: span 3;
    }
    .team .heading-1 {
        margin-bottom: 32px;
    }
}

@media (min-width: 1280px) {
    /* Quotes */
    .quotes {
        padding-top: 0;
        padding-bottom: 128px;
    }
    .quotes .heading-3,
    .quotes .title-2 {
        text-align: start;
    }

    .quotes .paragraph-1 {
        max-width: 360px;
    }
    .quotes .left-side {
        padding-right: 75px;
    }
    .quotes .left-side,
    .quotes .right-side {
        width: 50%;
    }
    .quotes-image {
        display: none;
    }

    .quotes .right-side {
        display: block;
    }

    /* Advantages */
    .advantages {
        flex-direction: row;
    }

    .single-advantage {
        padding: 80px 60px;
        min-height: 660px;
        height: 100%;
    }

    /* Provide */
    .provide .provide-wrapper {
        margin-bottom: 48px;
    }

    .provide {
        padding: 128px 0;
    }

    .provide .heading-2 {
        max-width: 750px;
        margin: 0 auto;
    }

    /* Team */
    .team {
        padding: 128px 0;
    }
    .team .single-team {
        grid-column: span 2;
    }
    .team .heading-1 {
        margin-bottom: 66px;
    }
}
