/* --- Container 1280px */
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    padding-left: 25px;
    padding-right: 25px;
}

/* --- Buttons */
.button {
    padding: 16px 40px;
    border-radius: 12px;
    color: var(--clr-white);
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.137);
}

.button-primary {
    background-color: var(--clr-orange);
}
.button-secondary {
    background-color: var(--clr-black);
}

/* --- Form */
.form-block .form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-block .form-heading {
    margin-bottom: 32px;
}

.form-block .form-text-input {
    background-color: var(--clr-white);
    border-radius: 2px;
    padding: 16px 32px;
    outline: none;
    border: none;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.form-block select {
    cursor: pointer;
}

.form-block .form-text-input:not(:last-child) {
    margin-bottom: 4px;
}

.form-block .form-button {
    margin-top: 32px;
}

/* --- Services */
.services-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.single-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: var(--clr-white);
    grid-column: span 2;
    cursor: pointer;
}

.single-service .title-2 {
    font-size: 16px;
    line-height: 20px;
}

.single-service,
.single-service p,
.single-service img {
    transition: 0.2s;
}

.single-service img {
    max-width: 30px;
    width: 100%;
    margin-bottom: 15px;
}

.single-service .wheel {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.single-service:hover {
    background-color: var(--clr-orange);
}
.single-service:hover > p {
    color: white;
}
.single-service:hover > img {
    filter: brightness(0) invert(1);
}
.single-service:hover > .wheel {
    filter: initial;
    -webkit-filter: initial;
}

/* --- More */
.more a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: underline transparent;
}

.more a:hover {
    transform: translateX(4px);
    text-decoration: underline;
}

.more img {
    margin-left: 15px;
    width: 40px;
    height: 10px;
}

/* --- Get in touch block */
.get-in-touch .cta {
    background-image: url('../assets/getintouch__img1.png');
    background-size: cover;
    background-position: center center;
    position: relative;
}
.get-in-touch .img-1,
.get-in-touch .img-2 {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    width: 100%;
    display: none;
}

.get-in-touch .img-1 {
    width: 320px;
    background-position: center left;
    background-image: url('../assets/getintouch__img1.png');
}
.get-in-touch .img-2 {
    width: 40%;
    background-image: url('../assets/getintouch__img2.png');
}

.get-in-touch .cta .info-block {
    position: inherit;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 75px 25px;
    max-width: 600px;
    margin: 0 auto;
}

.color-overlay {
    background-color: #ff6333ec;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.get-in-touch .cta .heading-3 {
    color: var(--clr-white);
    margin-bottom: 48px;
}

/* --- Experience */
.experience {
    background-color: var(--clr-lightgray);
}

.experience-content-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    padding: 3px;
}

.single-experience {
    grid-column: span 2;
    text-align: center;
    background-color: var(--clr-white);
    padding: 20px;
}

.single-experience .heading-2 {
    font-size: 28px;
    line-height: 35px;
    color: var(--clr-violet);
}
.single-experience .title-2 {
    font-size: 14px;
    line-height: 28px;
    opacity: 0.7;
}

/* --- Hero global */
.hero-global.container {
    padding: 0;
}

.hero-global-content-wrap.container {
    padding: 50px 25px;
    text-align: center;
}

.hero-global-content-wrap {
    background: url('../assets/p_services/hero__image.png');
    background-color: rgba(0, 0, 0, 0.295);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.774);
    display: flex;
}

.hero-global .heading-1,
.hero-global .paragraph-1 {
    color: white;
}

.hero-global .heading-1 {
    margin-bottom: 25px;
}

.hero-global .paragraph-1 {
    line-height: 28px;
    color: #f2f2f2;
}

/* Left side */
.hero-global .hero-global-button {
    margin-top: 32px;
    width: fit-content;
}

.hero-global .hero-button:hover {
    box-shadow: 0 3px 3px 0 rgba(255, 255, 255, 0.26);
}

/* --- Process bubbles */
.single-process {
    display: flex;
    margin-bottom: 16px;
}

.single-process .single-process--left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
}

.single-process .paragraph-1 {
    opacity: 0.6;
}

.single-process .text-bubble {
    position: relative;
}

.single-process .bubble-float {
    background-color: rgba(255, 255, 255, 0.24);
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 100%;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
}

.single-process .single-process--right .title-1 {
    margin-bottom: 8px;
}

.single-process .text-bubble {
    background-color: var(--clr-violet);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.single-process .text-bubble span {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.single-process .line img {
    max-height: 71px;
    max-width: 2px;
}

/* --- Typograpgy */
.heading-1 {
    font-size: 35px;
    line-height: 56px;
    letter-spacing: -0.03em;
    font-weight: 800;
}

.heading-2 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.03em;
    font-weight: 800;
}

.heading-3 {
    font-size: 34px;
    line-height: 52px;
    letter-spacing: -0.03em;
    font-weight: 700;
}

.heading-4 {
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: -0.03em;
}

.caption {
    font-size: 13px;
    line-height: 24px;
    font-weight: 500;
}

.paragraph-1 {
    font-size: 14.5px;
    font-weight: 600;
}

.paragraph-2 {
    font-size: var(--paragraph-size-2);
    line-height: 28px;
    font-weight: 600;
}

.title-1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.03em;
}

.title-2 {
    font-size: var(--title-size-2);
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.03em;
}

/* /// Media 768 */

@media (min-width: 768px) {
    /* Form */
    .form-block .form {
        align-items: start;
        text-align: start;
    }

    .form-block .form-text-input {
        padding: 22px 40px;
        max-width: 624px;
        text-align: start;
    }

    /* Typography */
    .heading-1 {
        font-size: 40px;
    }

    .heading-3 {
        font-size: 40px;
    }

    /* Hero global */
    .hero-global-content-wrap {
        background-blend-mode: initial;
        background-position: left center;
        background-size: contain;
        display: flex;
    }

    .hero-global-content-wrap.container {
        padding: 0;
        text-align: start;
    }

    .hero-global .hero-global__left-side {
        width: 40%;
    }

    .hero-global .hero-global__right-side {
        display: block;
        width: 60%;
        background-color: var(--clr-black);
        padding: 100px 75px 100px 75px;
    }

    /* Experience */
    .single-experience {
        grid-column: span 1;
        text-align: start;
        background-color: initial;
        padding: 25px;
    }
}

/* /// Media 1280 */
@media (min-width: 1280px) {
    .heading-1 {
        font-size: var(--heading-size-1);
        line-height: 84px;
    }

    .heading-2 {
        font-size: var(--heading-size-2);
        line-height: 76px;
    }

    .heading-3 {
        font-size: var(--heading-size-3);
        line-height: 67.2px;
    }

    .heading-4 {
        font-size: var(--heading-size-4);
        line-height: 140%;
    }

    .paragraph-1 {
        font-size: var(--paragraph-size-1);
        line-height: 31.5px;
    }

    .caption {
        font-size: var(--caption-size-1);
        line-height: 24px;
    }

    .title-1 {
        font-size: var(--title-size-1);
        line-height: 48px;
    }

    .title-2 {
        font-size: var(--title-size-2);
        line-height: 36px;
    }

    /* Button */
    .button {
        font-size: 18px;
    }

    /* Get in touch */
    .get-in-touch .cta {
        display: flex;
        background-image: initial;
        background-color: var(--clr-orange);
    }

    .get-in-touch .color-overlay {
        display: none;
    }

    .get-in-touch .cta .img-2 {
        display: block;
        width: 50%;
    }

    .get-in-touch .cta .info-block {
        width: 50%;
        text-align: start;
        padding: 128px 80px;
        max-width: initial;
        align-items: start;
    }

    /* Experience */

    .single-experience .heading-2 {
        font-size: var(--heading-size-2);
        line-height: 76px;
    }
    .single-experience .title-2 {
        font-size: var(--title-size-2);
        line-height: 36px;
    }

    /* Hero global*/
    .hero-global.container {
        padding: 80px 25px 128px 25px;
    }

    .hero-global .hero-global__right-side {
        padding: 96px 100px 146px 100px;
    }

    .hero-global .hero-global-button {
        margin-top: 64px;
        font-size: 18px;
    }

    .hero-global .paragraph-1 {
        font-size: var(--paragraph-size-1);
        line-height: 31.5px;
    }

    /* Process bubble */
    .single-process .text-bubble {
        width: 72px;
        height: 72px;
    }
    .single-process .text-bubble span {
        font-size: 30px;
    }

    .single-process .bubble-float {
        width: 42px;
        height: 42px;
        bottom: -22px;
    }
}

/* /// Meda 1280 - 25 */
@media (min-width: calc(1280px - 25)) {
    /* Container */
    .container {
        padding-left: 0;
        padding-right: 0;
    }

    /* More */
    .more img {
        max-width: 52px;
        margin-left: 21px;
    }
}

/* /// Media 1720 */
@media (min-width: 1720px) {
    .get-in-touch .cta .img-1 {
        display: block;
    }
}
